#gotopa{position: fixed; right: 0px; bottom: 100px; z-index: 99999;border: 0; -webkit-transition: linear .4s; -ms-transition: linear .4s; -moz-transition: linear .4s; transition: linear .4s;}
#gotopa span.icons-gotop{display: inline-block; padding-right: 15px; width: 30px; height: 30px; line-height: 30px; font-size: 18px; text-align: center; text-decoration: none; color: #fff;background: rgba(3, 164, 244, 0.4); border-radius: 30px 0 0 30px;  }
#gotopa:hover span.icons-gotop{ background: rgba(0,0,0,0.4);}
#gotopa span.icons-gotop:before{content: " "; display: inline-block; margin: 0; position: absolute; left: 14px; top: 8px;  height: 14px; width: 2px; background: #fff;}
#gotopa span.icons-gotop:after{content: " "; display: inline-block; margin: 0;  position: absolute; left: 9px; top: 8px; width: 10px; height: 10px; border: solid; border-width: 0 2px 2px 0; transform: rotate(225deg);}
@media screen and (max-width: 414px){

#gotopa{right: 15px; bottom: 85px;}

#gotopa span.icons-gotop{padding-right: 0; border-radius: 30px;}


}
